*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    height: 90px;
    background: rgb(0, 168, 255);
    box-shadow:  0px 5px 10px rgb(0,0,0,.5);
}

.indhold{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
}

.logo{
    float: left;
    padding: 10px 0;
    
}
.logo img{
    height: 70px;
    transition: .3s linear;
}
.logo img:hover{
    transform: scale(1.1);
}

.navigations-menu{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    margin-right: 100px
}
.navigations-menu a{
    margin-left: 10px;
    color: white;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear; 
}
.navigations-menu a:hover{
    background: white;
    color: rgb(0, 168, 255);
    transform: scale(1.1);
}

.navigations-op{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
}
.navigations-op a{
    margin-left: 10px;
    color: white;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear; 
}
.navigations-op a:hover{
    background: white;
    color: rgb(0, 168, 255);
    transform: scale(1.1);
}